
/* line 75 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */

/* line 1 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 297 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 30 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 21 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 67 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
*{font-family:Helvetica,Arial}
/* line 6 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.game{position:relative;width:500px;height:500px;background:#000;outline:none;overflow:hidden}
/* line 14 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.intro{text-align:center;color:#fff;}
/* line 17 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.intro h1,.intro h2{margin:auto;text-transform:uppercase}
/* line 21 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.intro h2{font-size:80%}
/* line 26 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.positionable{position:absolute;top:0;left:0}
/* line 31 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.ship{width:20px;height:23px;background-image:url("/assets/spaceShip.png");z-index:3}
/* line 37 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.particle{width:5px;height:5px;background:#f00}
/* line 42 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.rocket-launcher{z-index:1;}
/* line 44 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.rocket-launcher .rocket{width:6px;height:10px;background:#fff}
/* line 50 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.ouno{width:20px;height:20px;background-image:url("/assets/ouno.png")}
/* line 56 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */

/* line 57 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.hud .points{position:absolute;top:0;right:0;text-align:right;color:#fff}
/* line 64 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.hud .life{position:absolute;top:0;left:0;}
/* line 68 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.hud .life .ship{position:relative;display:inline-block;margin:5px}