
/* line 154 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */

/* line 1 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 297 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 30 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 21 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 67 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 92 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 574 : /Users/bobylito/Dropbox/source.sync/reactGames/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 2 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
*{font-family:Helvetica,Arial}
/* line 6 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.screen{width:inherit;height:inherit}
/* line 10 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.game{position:relative;width:500px;height:500px;background:#000;outline:none;overflow:hidden}
/* line 18 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.intro{position:absolute;top:20%;width:100%;color:#fff;text-align:center;text-transform:uppercase;}
/* line 26 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.intro h1,.intro h2{margin:auto}
/* line 29 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.intro h2{font-size:80%;margin-top:20px}
/* line 34 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.intro .ship{position:absolute;top:400%;left:50%;margin-left:-10px}
/* line 42 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.positionable{position:absolute;top:0;left:0}
/* line 47 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.ship{width:20px;height:23px;background-image:url("../assets/spaceShip.png");z-index:3;}
/* line 52 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.ship.blink{-webkit-animation:blink 200ms infinite;-moz-animation:blink 200ms infinite;-o-animation:blink 200ms infinite;-ms-animation:blink 200ms infinite;animation:blink 200ms infinite}
/* line 56 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.particle{width:5px;height:5px;background:#f00}
/* line 61 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.rocket-launcher{z-index:1;}
/* line 63 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.rocket-launcher .rocket{width:5px;height:10px;background:#fff}
/* line 69 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.ouno{width:20px;height:20px;background-image:url("../assets/ouno.png")}
/* line 74 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.douo{width:20px;height:20px;background-image:url("../assets/duo.png")}
/* line 79 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.trouo{width:20px;height:20px;background-image:url("../assets/trouo.png")}
/* line 85 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.flash{background-image:none;background:#fff}
/* line 90 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */

/* line 91 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.hud .points{position:absolute;top:0;right:0;text-align:right;color:#fff}
/* line 98 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.hud .life{position:absolute;top:0;left:0;}
/* line 102 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.hud .life .ship{position:relative;display:inline-block;margin:5px}
/* line 110 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.button{border:4px solid #f00;padding:3px}
/* line 115 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.fx{width:100%;height:100%;}
/* line 118 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.fx.flash{background:#fff}
/* line 122 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.fx .starfield{position:absolute;top:-1500px;left:0;}
/* line 126 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.fx .starfield.stars{width:100%;height:2000px;background-repeat:repeat-y}
/* line 131 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.fx .starfield.l-1{-webkit-animation:vertical-scroll 10s linear infinite;-moz-animation:vertical-scroll 10s linear infinite;-o-animation:vertical-scroll 10s linear infinite;-ms-animation:vertical-scroll 10s linear infinite;animation:vertical-scroll 10s linear infinite}
/* line 134 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.fx .starfield.l-2{-webkit-animation:vertical-scroll 15s linear infinite;-moz-animation:vertical-scroll 15s linear infinite;-o-animation:vertical-scroll 15s linear infinite;-ms-animation:vertical-scroll 15s linear infinite;animation:vertical-scroll 15s linear infinite}
/* line 137 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
.fx .starfield.l-3{-webkit-animation:vertical-scroll 20s linear infinite;-moz-animation:vertical-scroll 20s linear infinite;-o-animation:vertical-scroll 20s linear infinite;-ms-animation:vertical-scroll 20s linear infinite;animation:vertical-scroll 20s linear infinite}
/* line 144 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
@-moz-keyframes blink{
/* line 145 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
/* line 146 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
50%{opacity:1;-ms-filter:none;filter:none}
/* line 147 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}
/* line 144 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
@-webkit-keyframes blink{
/* line 145 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
/* line 146 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
50%{opacity:1;-ms-filter:none;filter:none}
/* line 147 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}
/* line 144 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
@-o-keyframes blink{
/* line 145 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
/* line 146 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
50%{opacity:1;-ms-filter:none;filter:none}
/* line 147 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}
/* line 144 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
@keyframes blink{
/* line 145 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
/* line 146 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
50%{opacity:1;-ms-filter:none;filter:none}
/* line 147 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}
/* line 150 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
@-moz-keyframes vertical-scroll{
/* line 151 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
0%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
/* line 152 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
100%{-webkit-transform:translateY(1500px);-moz-transform:translateY(1500px);-o-transform:translateY(1500px);-ms-transform:translateY(1500px);transform:translateY(1500px)}}
/* line 150 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
@-webkit-keyframes vertical-scroll{
/* line 151 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
0%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
/* line 152 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
100%{-webkit-transform:translateY(1500px);-moz-transform:translateY(1500px);-o-transform:translateY(1500px);-ms-transform:translateY(1500px);transform:translateY(1500px)}}
/* line 150 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
@-o-keyframes vertical-scroll{
/* line 151 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
0%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
/* line 152 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
100%{-webkit-transform:translateY(1500px);-moz-transform:translateY(1500px);-o-transform:translateY(1500px);-ms-transform:translateY(1500px);transform:translateY(1500px)}}
/* line 150 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
@keyframes vertical-scroll{
/* line 151 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
0%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
/* line 152 : /Users/bobylito/Dropbox/source.sync/reactGames/src/stylus/index.styl */
100%{-webkit-transform:translateY(1500px);-moz-transform:translateY(1500px);-o-transform:translateY(1500px);-ms-transform:translateY(1500px);transform:translateY(1500px)}}