.shake{
  animation: shake 150ms linear;
}

.from-left{
  animation: fromLeft 600ms linear;
}

.from-top{
  animation: fromTop 1s linear;
}

.from-top-fade-in{
  animation-name: fromTop, simpleFadeIn;
  animation-duration: 1s, 1s;
  animation-timing-function: ease-in-out, ease-in-out;
}

.from-bottom-fade-in{
  animation-name: fromBottom, simpleFadeIn;
  animation-duration: 1s, 1s;
  animation-timing-function: ease-in-out, ease-in-out;
}

.fade-in {
  animation: fadeIn 1s linear;
}

.impact {
  animation: impact 200ms ease-in;
}

.fade-in-then-blink {
  animation-name: fadeIn, lightblink;
  animation-duration: 1s, 1s;
  animation-delay: 1s, 0;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease-in, ease-in-out;
  animation-fill-mode: both, none;
}

.light-blink {
  animation: lightblink 600ms ease-in-out;
}

.blink {
  animation : blink 200ms infinite;
}

.delay-1, .delay-2, .delay-3, .delay-4, .delay-5, .delay-6, .delay-7, .delay-8 {
  animation-fill-mode: both;
}
.delay-1{ animation-delay: 1s}
.delay-2{ animation-delay: 2s}
.delay-3{ animation-delay: 3s}
.delay-4{ animation-delay: 4s}
.delay-5{ animation-delay: 5s}
.delay-6{ animation-delay: 6s}
.delay-7{ animation-delay: 7s}
.delay-8{ animation-delay: 8s}

// Animations
@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes mediumBlink {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes lightblink {
  0%   { opacity: 1; }
  50%  { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes hack {
  0%    { transform: translateX( -100%) }
  100%  { transform: translateX( -100%) }
}

@keyframes vertical-scroll {
  0%    { transform: translateY( 0 ) }
  100%  { transform: translateY( 1500px ) }
}

@keyframes vertical-scroll-reversed {
  0%    { transform: translateY( 1500px ) }
  100%  { transform: translateY( 0 ) }
}

@keyframes shake {
  0%      { transform: translateX( -10px ) }
  10%     { transform: translateY(  10px ) }
  20%     { transform: translateX(  10px ) }
  55%     { transform: translateX( -10px ) }
  65%     { transform: translateY( -10px ) }
  75%     { transform: translateX(  10px ) }
  100%    { transform: translateX(   0px ), translateY(   0px ); }
}

@keyframes fromLeft {
  0%      { transform: translateX( -100% )}
  90%     { transform: translateX( 5% )}
  100%    { transform: translateX( 0% )}
} 

@keyframes fromTop {
  0%      { transform: translateY( -100px )}
  100%    { transform: translateY( 0 )}
}

@keyframes fromBottom {
  0%      { transform: translateY( 100px )}
  100%    { transform: translateY( 0 )}
}

@keyframes fadeIn {
  0%      { opacity: 0;
            transform: scale( 0.9 );}
  95%     { transform: scale( 1.05 );}
  100%    { opacity: 1;
            transform: scale( 1 )}
} 

@keyframes simpleFadeIn {
  0%      { opacity: 0;}
  100%    { opacity: 1;}
} 

@keyframes simpleFadeOut {
  0%      { opacity: 1;}
  100%    { opacity: 0;}
} 

@keyframes impact {
  0%      { opacity: 0;
            transform: scale(3); }
  100%    { opacity: 1;
            transform: scale(1.0); }
}

@keyframes explosion {
  0%      { background-color: white }
  40%     { background-color: yellow }
  60%     { background-color: orange }
  100%    { background-color: black }
}

