span.monster{
  display: inline-block;
}
.zouro{
  width: 20px;
  height : 20px;
  background-image:url("../assets/zouro.png");
}
.ouno{
  width: 20px;
  height : 20px;
  background-image:url("../assets/ouno.png");
}
.douo{
  width: 20px;
  height : 20px;
  background-image:url("../assets/duo.png");
}
.trouo{
  width: 20px;
  height : 20px;
  background-image:url("../assets/trouo.png");
}
