@font-face {
  font-family: 'silkscreenbold';
  src: url('silkscreen_bold_macroman/slkscrb-webfont.eot');
  src: url('silkscreen_bold_macroman/slkscrb-webfont.eot?#iefix') format('embedded-opentype'),
       url('silkscreen_bold_macroman/slkscrb-webfont.woff') format('woff'),
       url('silkscreen_bold_macroman/slkscrb-webfont.ttf') format('truetype'),
       url('silkscreen_bold_macroman/slkscrb-webfont.svg#silkscreenbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
