@import 'nib'
.game{
  position:relative;
  width:500px;
  height:500px;
  background:black;
  outline: none;
}
.ship{
  position:absolute;
  width:20px;
  height:23px;
  background-image:url("/assets/spaceShip.png");
  transition: transform 600ms;
  transform : rotateY(0deg);
  &.left{
    transform : rotateY(45deg);
  }
  &.right{
    transform : rotateY(-45deg);
  }
}
.rocket {
  transform: translateZ(0);
  position:fixed;
  width : 6px;
  height: 10px;
  background:white;
}
